<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설문 응답</title>
</head>
<body>
<h1>질문:{{selected_q.question_text}}</h1>

<form action='{% url "polls:vote" %}', method="post">
    {% csrf_token %}
    <input type="hidden" name="question_id" value="{{selected_q.pk}}">

    {% for choice in selected_q.choice_set.all %}
        <input type="radio" id = 'id_{{choice.pk}}' name='choice' value="{{choice.pk}}">
        <label for="id_{{choice.pk}}">{{choice.choice_text}}</label><br>
    {% endfor %}
    <br>
    <br>
    <input type="submit" value="전송">
    <input type="reset" value='초기화'>

    {% if error_message %}
    <div style="color: red">{{error_message}}</div>
    {% endif %}
</form>
</body>
</html>